pkgbase = yts-cli
	pkgdesc = A tool to list movies from YTS and generate magnet links
	pkgver = 0.0.2
	pkgrel = 1
	url = https://github.com/Ka-derka/yts-cli
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	makedepends = cargo
	makedepends = base-devel
	depends = curl
	source = yts-cli-0.0.2.tar.gz::https://github.com/Ka-derka/yts-cli/archive/refs/tags/v0.0.2.tar.gz
	sha512sums = SKIP

pkgname = yts-cli
